
.videoContainer {
  position: absolute;
    top: -9px;
    width: 100%;
    left: 0px;
    z-index: -10;

  .videoJs {
    position: relative;
    left: 0px;
    top: 0px;
    opacity: .6;
    width: 100%;
  }
}

.videoMask {
  position: absolute;
  width: 100%;
  top: -9px;
  left: 0px;
  z-index: -9;
}
