.mediaItem {

  .mediaItemPhoto {
    img {
      width: 100%;
    }
  }

  .mediaItemBack {
    width: 100%;
    height: 100%;
  }

}

.ReactFlipCard {
    text-align: center;
    cursor: pointer;
      position: relative;
  }

  .ReactFlipCard__Flipper {
    transition: .2s !important;
  }

  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 !important;


  }
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {

    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  .ReactFlipCard__Front {
    background-color: white;
    position: relative;

  }
  .ReactFlipCard__Back {
    background-color: #cef;
  }
