@import "../globals/all.scss";

.CarouselHeader {
  .label {
    text-transform: uppercase;
    color: $dark-grey;
    font-weight: bold;
    margin-bottom: 20px;
  }
  margin-bottom: 20px;
  overflow: auto;
}


.CarouselList {
  list-style-type: none;
  clear: both;

  li {
    float: left;
    margin: 10px 20px 10px 0;
    background-color: #fff;
    display: block;
    float: left;
    margin: 10px 20px 10px 0;
    width: 250px;
    height: 400px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  @media only screen and (max-width: $max) and (min-width: $XL) {
      li {
          width: calc((100vw - 430px) / 6);
      }

      li:nth-child(n+7) {
          display: none
      }
  }

}
