@import "../globals/all.scss";

.CarouselHeader {
  margin: 20px 0 ;
  overflow: auto;
}


.CarouselList {
  list-style-type: none;
  clear: both;
  display: table;

  //start list a little left
  margin-left: 12px;

  li {
    display: block;
    float: left;
    width: 250px;
    height: 400px;
    position: relative;
  }

  @media only screen and (max-width: $max) and (min-width: $XL) {
    li {
      width: calc((100vw - 426px) / 6);
      height:calc((1.5 * ((100vw - 426px) / 6)) + 60px)  // 1.5 * x = y
    }

    li:nth-child(n+7) {
      display: none
    }
  }

  @media only screen and (max-width: $XL - 1 ) and (min-width: $SM){
    li {
      width: calc((100vw - 336px) / 5);
      height:calc((1.5 * ((100vw - 336px) / 5)) + 60px);  // 1.5 * x = y
      margin-right: 30px !important;
    }

    li:nth-child(n+5) {
      margin-right: 0 !important;
    }
    li:nth-child(n+6) {
      display: none
    }
  }

  @media only screen and (max-width: $SM - 1) {
    li {
      width: calc((100vw - 311px) / 4);
      height:calc((1.5 * ((100vw - 336px) / 4)) + 60px);  // 1.5 * x = y
      margin-right: 30px !important;
    }

    li:nth-child(n+4) {
      margin-right: 0 !important;
    }
    li:nth-child(n+5) {
      display: none
    }
  }


  li:not(:last-child) {
    margin-right: 42px;
  }

}
