@import "../globals/all.scss";

header {

  #headerContent {
    height: 15vh;
    position: relative;
    padding-top: 25px;
  }

  .leftContainer {
    min-height: 1px;
  }


  .rightContainer {
    @include vertical-align();

    .menu {
      float: right;

      img {
        height: 25px;
      }
    }
  }

  .centerContainer {
    position: relative;
    overflow: hidden;
    height: 100%;

    .logo {
        @include exact-center-align(absolute);
        top: 45%;
        width: 200px;
    }


  }
}
.trailerName {
  margin-bottom: 60px;
}

.fancy {
  text-align: center;
}
.fancy div {
  display: inline-block;
  position: relative;
}
.fancy div:before,
.fancy div:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid $light-grey;
  top: 0;
  width: 400px;
}
.fancy div:before {
  right: 100%;
  margin-right: 15px;
}
.fancy div:after {
  left: 100%;
  margin-left: 15px;
}
