doctype html

html
  head
    script(src=env == 'prod' ? '/js/newtab.bundle.js' : 'https://localhost:3000/js/newtab.bundle.js')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', type='text/css' )
  body
    #reactApp test
