@import "../../globals/all.scss";


.filtersContainer {
    text-align: center;
    position: relative;
}

.filters {
  font-family: $font-titillium;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  padding: 0px;
  list-style:none;
  overflow: hidden;
  margin: 0;

  li {
     float: left;

     
  }

    .loading {
      width: 20px;
      min-height: 1px;
      img {
        height: 24px;
        display: inline-block;
      }
    }

}
