@import "../../globals/all.scss";

.filterItem {
  position: relative;
  display: block;
  margin-right: 20px;
  text-transform: uppercase;
  color: $dark-blue;
  opacity: .3;
  cursor: pointer;
  transition: all 0.6s ease;
  letter-spacing: 0;

  &.active, &:hover {
    opacity: 1;
  }

  .underline {
    position: absolute;
    height: 2px;
    bottom: 0px;
    background-color:  $dark-blue;
    width: 30px;
    transform: scaleX(0);
  }

  &.active {
    .underline {
      transition: .5s all ease;
      transform: scaleX(1);
    }
  }
}
