@import "../../globals/colors.scss";

.shuffler {
  cursor: pointer;

  div {
    font-weight: bold;
    color: $green;
    font-size: 13px;
    display: inline-block;
    text-transform: capitalize;
    margin: 0 15px 0 30px;
  }
}
