@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');


$font-opensans: 'Open Sans', sans-serif;
$font-playfair: 'Playfair Display SC', serif;
$font-titillium: 'Titillium Web', sans-serif;
